* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}

.container-header {
  display: flex;
  width: 84%;
  margin: auto;
  /* padding: 20px 0; */
  align-items: center;
  justify-content: space-between;
}

.container-header ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.container-header ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Poppins', sans-serif;
}

.container-header ul li a:hover {
  color: red;
}

.container-content {
  margin-left: 8%;
  margin-top: 13%;
}

.container-content h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}

span {
  color: orange;
}

.container-content p {
  color: #555;
  line-height: 22px;
}

.container-profile {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.container-profile img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s left 1s;
}

/* .container-header img{
    position: relative;
    top: -35px;
    right: 27px;
  
}

.container-header ul{
    margin-right: 6px;
    margin-top: 21px;
}

.container-header ul li{
    display: inline-block;
    margin: 0 18px;
}

.container-header ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;    
} */
